@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
.ipersonal {
    width: 100%;
    height: auto;
    min-height: 320px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;

    .left-personal {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .right-personal {
        @extend .left-personal;
        align-items: center;
        .person-container {
            width: 6rem;
            height: 6rem;
            background-color: $base-color-purple;
            border-radius: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        input {
            width: 25%;
            border: 0px;
        }
    }
    input {
        @include inputForm;
    }
    span {
        @include spanForm;
    }
}
